{% extends 'base.html' %}
{% load static %}

{% block script %}

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>

{% endblock  %}


{% block content %}


<div class="container">
  <div class="question-header">
    <div class="header-container">
      <div class="header-title">
        <h3>{{ question.title }}</h3>
      </div>
      {% if user.is_authenticated %}
      {% if question.user.id == req_user %}
      <div class="edit-question">
        <a href="" data-bs-toggle="modal" data-bs-target="#modal" onclick="editQuestion()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
            viewBox="0 0 16 16">
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
          </svg>
          <i class="bi bi-pencil-fill"></i>
        </a>
      </div>
      {% endif %}
      {% endif %}
    </div>
    <div class="header-summary" style="direction: rtl;">
      <p> ایجاد شده توسط
        {{question.user.username}}&nbsp;<span style="margin-left: 10px;"> در تاریخ {{ question.created_at}} </span><svg
          xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <g fill="none">
            <path
              d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
            <path fill="currentColor"
              d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 4a1 1 0 0 0-1 1v5a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V7a1 1 0 0 0-1-1" />
          </g>
        </svg></p>

      <p><span>{{question.views}}</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
          viewBox="0 0 32 32">
          <circle cx="16" cy="16" r="4" fill="currentColor" />
          <path fill="currentColor"
            d="M30.94 15.66A16.69 16.69 0 0 0 16 5A16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66a1 1 0 0 0 0-.68M16 22.5a6.5 6.5 0 1 1 6.5-6.5a6.51 6.51 0 0 1-6.5 6.5" />
        </svg>
      </p>
    </div>
  </div>

  <div class="question-details" style="display: block;">
    {{ question.description|safe }}
  </div>
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-l">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel{{ forloop.counter }}">Editing Question "{{ question.title }}"</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'edit-question' slug=question.slug %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="editTitle" class="form-label">عنوان جدید</label>
              <input type="text" required='true' class="form-control" id="editTitle" name="title" value="{{ question.title }}">
            </div>
            <div class="mb-3">
              {{ qe_form.media }}
              {{ qe_form.description}}
            </div>
            <button class="btn btn-primary" type="submit">ثبت</button>
          </form>
        </div>


      </div>
    </div>
  </div>


  <ol class="olcards">
    {% if related_questions %}
    {% for related_question in related_questions %}
    <li style="--cardColor:#fc374e">
      <div class="content">
        <div class="text"><a
            href="{% url 'question-detail' slug=related_question.slug %}">{{related_question.title}}</a></div>
      </div>
    </li>
    {% endfor %}
    {% endif %}
  </ol>



</div>
<div class="Comments-Box container">
  <div class="Comments-Box-header">
    <div class="box1">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M12 23a1 1 0 0 1-1-1v-3H7a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-4.1l-3.7 3.71c-.2.18-.44.29-.7.29zm-9-8H1V3a2 2 0 0 1 2-2h16v2H3z" />
      </svg>
      <p>کامنت ها</p>
    </div>
    <div class="box2">
      <p class="comment-count">{{comments|length}}</p>
    </div>
  </div>

  {% if not user.is_authenticated %}
  <div class="need-to" style="direction: rtl;">
    <div>برای ثبت نظر</div>
    <div class="need-to-link"><a href="{% url 'login' %}?next=/questions/question/{{question.slug}}">ورود &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4m-5-4l5-5l-5-5m5 5H3" />
        </svg></a></div>
    <div> یا</div>
    <div class="need-to-link"><a href="{% url 'register' %}"> ثبت نام &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4Z" />
        </svg></a></div>
  </div>
  {% else %}
  <div class="comment-place">
    <form action="{% url 'question-detail' slug=question.slug %}" method="post" class="comment-form">
      {% csrf_token %}
      {{ form.media }}
      {{form.as_p}}
      <button type="submit" class="btn btn-primary">ثبت نظر</button>
    </form>
  </div>
  {% endif %}



  <div class="comments" style="direction: rtl;">
    {% for comment in comments %}
    <div class="comment">
      <div class="main-comment">
        <div class="comment-header">
          <div class="box-p-svg">
            <img src="{{ comment.user.profile_img_url }}" loading="lazy">
            <div style="margin-right: 5px;">
              <p>{{ comment.user.username }}</p>
              <P>{{comment.created_at}}</P>
            </div>
          </div>

        </div>
        <div class="comment-text">
          {{ comment.comment | safe}}
        </div>
      </div>
      {% if comment.is_answer %}
      <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
        <path fill="#27AE60"
          d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m-2 15l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z" />
      </svg>
      {% endif %}
    </div>
    {% endfor %}

  </div>
</div>

</div>

{% endblock %}