{% extends "base.html" %}


{% block content %}
<style>
  .profile-page {
    display: flex;
    min-height: 100vh;
    width: 800px;
  }

  @media (max-width: 990px) {
    .profile-page {
      padding-top: 0;
    }
  }

  .profile-page .content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }

  @media (max-width: 990px) {
    .profile-page .content {
      max-width: 420px;
      padding: 0 0 2rem 0;
      border-radius: 0;
    }
  }

  .profile-page .content__cover {
    position: relative;

  }


  .profile-page .content__avatar {
    width: 12rem;
    height: 12rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 50%);
    background: #8f6ed5 url("{{user_profile.profile_img.url}}") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }

  .profile-page .content__avatar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
  }

  @media (max-width: 990px) {
    .profile-page .content__avatar {
      width: 11rem;
      height: 11rem;
      border: 0.3rem solid #fff;
      box-shadow: none;
    }
  }

  .profile-page .content__actions {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
  }

  @media (max-width: 990px) {
    .profile-page .content__actions {
      padding: 0.8rem 2rem;
    }
  }

  .profile-page .content__actions a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: default;
    pointer-events: none;
    color: #009688;
  }






  .profile-page .content__actions a svg {
    width: 2rem;
    margin-right: 5px;
  }


  .profile-page .content__actions a:first-child {
    color: #ff4086;
  }



  .profile-page .content__title {
    margin-top: 4.5rem;
    text-align: center;
    order: 1;
  }

  @media (max-width: 990px) {
    .profile-page .content__title {
      margin-top: 1.5rem;
    }
  }

  .profile-page .content__title h1 {
    margin-bottom: 0.1rem;
    font-size: 2.4rem;
  }

  @media (max-width: 990px) {
    .profile-page .content__title h1 {
      font-size: 1.8rem;
    }
  }

  .profile-page .content__title span {
    font-size: 1rem;
    color: #707070;
  }

  @media (max-width: 990px) {
    .profile-page .content__title span {
      font-size: 0.9rem;
    }
  }

  .profile-page .content__description {

    text-align: center;
    order: 3;

  }

  .profile-page .content__description svg {
    color: #707070;
    margin-right: 5px;

  }

  @media (max-width: 990px) {
    .profile-page .content__description {
      order: 4;
    }
  }

  .profile-page .content__description p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  @media (max-width: 990px) {
    .profile-page .content__description p {
      font-size: 1rem;
    }
  }
  .profile-page .profile-links{
    order: 2;
    border: none;
    padding: 0%;
    margin-top: 2.5rem;
  }

  .profile-page .profile-links ul{
    display: flex;
    justify-content: center ;
  }
  .profile-page .profile-links ul li:nth-child(1) a
  {
    color: #FF8C00;
  }
</style>

  <div class="profile-page">
    <div class="content">
      <div class="content__cover">
        <div class="content__avatar">
        </div>

      </div>
      <div class="content__actions"><a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 1024 1024">
            <path fill="currentColor"
              d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896m23.744 191.488c-52.096 0-92.928 14.784-123.2 44.352c-30.976 29.568-45.76 70.4-45.76 122.496h80.256c0-29.568 5.632-52.8 17.6-68.992c13.376-19.712 35.2-28.864 66.176-28.864c23.936 0 42.944 6.336 56.32 19.712c12.672 13.376 19.712 31.68 19.712 54.912c0 17.6-6.336 34.496-19.008 49.984l-8.448 9.856c-45.76 40.832-73.216 70.4-82.368 89.408c-9.856 19.008-14.08 42.24-14.08 68.992v9.856h80.96v-9.856c0-16.896 3.52-31.68 10.56-45.76c6.336-12.672 15.488-24.64 28.16-35.2c33.792-29.568 54.208-48.576 60.544-55.616c16.896-22.528 26.048-51.392 26.048-86.592c0-42.944-14.08-76.736-42.24-101.376c-28.16-25.344-65.472-37.312-111.232-37.312m-12.672 406.208a54.272 54.272 0 0 0-38.72 14.784a49.408 49.408 0 0 0-15.488 38.016c0 15.488 4.928 28.16 15.488 38.016A54.848 54.848 0 0 0 523.072 768c15.488 0 28.16-4.928 38.72-14.784a51.52 51.52 0 0 0 16.192-38.72a51.968 51.968 0 0 0-15.488-38.016a55.936 55.936 0 0 0-39.424-14.784" />
          </svg><span>{{ user_profile.question_set.count }} Question Created</span></a><a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M20 6h-1v8c0 .55-.45 1-1 1H6v1c0 1.1.9 2 2 2h10l4 4V8c0-1.1-.9-2-2-2m-3 5V4c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v13l4-4h9c1.1 0 2-.9 2-2" />
          </svg><span>{{ answer_count }} Answer Accepted</span></a></div>
      <div class="content__title">
        <h1>{{ user_profile.username }}</h1><span>Joind on {{user_profile.date_joined}}</span>
      </div>
      {% if user_profile.github_link or user.linkedin_link %}
      <div class="profile-links">
        <ul>
          {% if user_profile.github_link %}

          <li style="margin: 0 7px;">
            <a href="{{ user_profile.github_link }}" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github"
                viewBox="0 0 16 16">
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.20-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.20-.82 2.20-.82.44 1.10.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.20 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8" />
              </svg>
              <i class="bi bi-github"></i>
            </a>

          </li>

          {% endif %}
          {% if user_profile.linkdin_link %}

          <li>
            <a href="{{user_profile.linkdin_link}}" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-linkedin"
                viewBox="0 0 16 16">
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401m-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4" />
              </svg>

              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          {%endif%}
        </ul>

      </div>
      {% endif %}
      <div class="content__description">
        <p style="color:#006064">{{ user_profile.email }}</p>
        {% if user_profile.bio %}
        <p>{{ user_profile.bio }}</p>
        {% endif %}

      </div>
      
    </div>

  </div>



{% endblock %}